.contacts__inner{
    padding: 100px 100px 0 100px;
    font-family: Montserrat;
    font-style: normal;
    font-size: 22px;
    line-height: 33px;
    color: #000;
    position: relative;
}
.contacts__img-wrapper{
    width: 400px;
    height: 400px; 
}
.contacts__img{
	width: 400px;
    height: 400px;
    position: relative;
    z-index: 1;
}
.contacts__img img{
	width: 100%;
    height: 100%;
}
.contacts__img-wrapper :before{
    content: '';
    background-image: url(../img/contacts/quadro-bg.png);
    position: absolute;
    top: -20px; 
    left: -20px;
    height: 200px;
    width: 200px;
   z-index: -1;
}
.contacts__info{
    background-color: #fff;
    position: absolute;
    top: 200px;
    left: 400px;
    z-index: 5;
    padding: 30px;
    opacity: 0.9;
}
.contacts__info-addres__title{
    font-weight: 700;
}
.map-responsive{
    overflow:hidden;
    position:relative;
    height: 700px;
    margin: 100px 200px;
    border: 1px solid #000;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}